.Footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #ffffff;
  color: #808080;
  border-top: #c0c0c0 solid 1px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.Footer > div{
  border-bottom: #c0c0c0 solid 1px;
  padding: 5px;
  text-align: center;
  width: 50px;
}
.Footer p{
  font-size: 8px;
  margin: 0px;
  line-height: 10px;
}
.Footer a{
  color: #808080;
}
.footericon{
  height: 18px;
}
